<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;" fxLayoutGap="20px">
    <div *ngIf="pedidos instanceof(Array)" fxLayout="row" fxLayoutAlign="start center">
        <h1>Fila de pedidos</h1>
    </div>
    <div *ngIf="!pedidos instanceof(Array)">
        <h1>Buscando pedidos</h1>
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="pedidos instanceof(Array)">
        <div fxLayout="column" fxLayoutGap="20px">
            <div class="scroll-table">

                <ng-container *ngIf="pedidos.length !== 0">
                    <table mat-table [dataSource]="pedidos" class="mat-elevation-z8">

                        <ng-container matColumnDef="itensPedidos">
                            <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayout="column"
                                fxLayoutAlign="center center">
                                Itens
                            </th>
                            <td mat-cell *matCellDef="let pedido" fxFlex="40" fxLayout="column"
                                fxLayoutAlign="center start">
                                <button mat-button color="warn" (click)="abrirModalExibicaoItens(pedido)">
                                    Ver itens
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="mesa">
                            <th mat-header-cell *matHeaderCellDef fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                Mesa
                            </th>
                            <td mat-cell *matCellDef="let pedido" fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                {{ pedido.mesa }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                Responsável
                            </th>
                            <td mat-cell *matCellDef="let pedido" fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                {{ pedido.usuario.nome }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="dataCadastro">
                            <th mat-header-cell *matHeaderCellDef fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                Data de recebimento
                            </th>
                            <td mat-cell *matCellDef="let pedido" fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                {{ pedido.dataCadastro | date: 'HH:mm:ss dd/MM/yyyy' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                Status
                            </th>
                            <td mat-cell *matCellDef="let pedido" fxFlex fxLayout="column"
                                fxLayoutAlign="center center">
                                <mat-select style="background: gray;" (selectionChange)="atualizarStatusPedido(pedido, $event.value)" [value]="pedido.status.nome">
                                    <mat-option *ngFor="let statusSingular of status" [value]="statusSingular.nome">
                                        {{ statusSingular.nome }}
                                    </mat-option>
                                </mat-select>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </ng-container>

                <ng-container *ngIf="pedidos.length === 0">
                    <h2 fxLayoutAlign="center center">
                        Não existem pedidos ativos.
                    </h2>
                </ng-container>
            </div>
        </div>
    </div>

</div>