<div fxLayout="column" fxLayoutAlign="space-around none" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Finalizar pedido</h1>
        <span class="material-icons pointer" [mat-dialog-close]="true">
            close
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <table mat-table [dataSource]="data.produtosSelecionados" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Preço (R$) </th>
                <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Qtd. </th>
                <td mat-cell *matCellDef="let produto"> {{produto.quantidade}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around none">
        <h1>Total: </h1>
        <h1>35.90</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <button [routerLink]="['/cardapio']" mat-raised-button color="warn">Finalizar pedido</button>
    </div>
</div>