<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 style="text-align: center;">El barak<br>Culinaria árabe</h1>
        <form class="example-form" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
                <mat-label>Login</mat-label>
                <input style="background: gray;" matInput placeholder="Login" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Senha</mat-label>
                <input style="background: gray;" matInput placeholder="Senha" value="" type="password">
            </mat-form-field>
            <button [routerLink]="['/administrativo/lista-produtos']" mat-raised-button color="warn">
                Iniciar sessão
            </button>
        </form>
    </div>
</div>