<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;" fxLayoutGap="20px">
    <h1>Cardápio</h1>
    <mat-horizontal-stepper [linear]="isLinear" #stepper style="height: 90vh;">

        <mat-step [stepControl]="firstFormGroup" *ngIf="firstFormGroup">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
                <ng-template matStepLabel>Pratos principais</ng-template>
                <div fxLayout="column" fxLayoutGap="20px">
                    <div class="scroll-table">
                        <table mat-table [dataSource]="pratosPrincipais" class="mat-elevation-z8">

                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef> Nome </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
                            </ng-container>

                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preço </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantidade">
                                <th mat-header-cell *matHeaderCellDef> Qtd. </th>
                                <td mat-cell *matCellDef="let produto">
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button>
                                            <mat-icon>remove</mat-icon>
                                        </button>

                                        <h3>
                                            {{produto.quantidade}}
                                        </h3>
                                        <button mat-icon-button color="warn">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between end">
                        <button mat-raised-button matStepperPrevious>
                            Anterior
                        </button>
                        <button mat-raised-button color="warn" matStepperNext>
                            Próximo
                        </button>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="firstFormGroup" *ngIf="firstFormGroup">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
                <ng-template matStepLabel>Acompanhamentos</ng-template>
                <div fxLayout="column" fxLayoutGap="20px">
                    <div class="scroll-table">
                        <table mat-table [dataSource]="acompanhamentos" class="mat-elevation-z8">

                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef> Nome </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
                            </ng-container>

                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preço </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantidade">
                                <th mat-header-cell *matHeaderCellDef> Qtd. </th>
                                <td mat-cell *matCellDef="let produto">
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button>
                                            <mat-icon>remove</mat-icon>
                                        </button>

                                        <h3>
                                            {{produto.quantidade}}
                                        </h3>
                                        <button mat-icon-button color="warn">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between end">
                        <button mat-raised-button matStepperPrevious>
                            Anterior
                        </button>
                        <button mat-raised-button color="warn" matStepperNext>
                            Próximo
                        </button>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="firstFormGroup" *ngIf="firstFormGroup">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
                <ng-template matStepLabel>Bebidas</ng-template>
                <div fxLayout="column" fxLayoutGap="20px">
                    <div class="scroll-table">
                        <table mat-table [dataSource]="bebidas" class="mat-elevation-z8">

                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef> Nome </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
                            </ng-container>

                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preço </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantidade">
                                <th mat-header-cell *matHeaderCellDef> Qtd. </th>
                                <td mat-cell *matCellDef="let produto">
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button>
                                            <mat-icon>remove</mat-icon>
                                        </button>

                                        <h3>
                                            {{produto.quantidade}}
                                        </h3>
                                        <button mat-icon-button color="warn">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between end">
                        <button mat-raised-button matStepperPrevious>
                            Anterior
                        </button>
                        <button mat-raised-button color="warn" matStepperNext>
                            Próximo
                        </button>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="firstFormGroup" *ngIf="firstFormGroup">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
                <ng-template matStepLabel>Sobremesas</ng-template>
                <div fxLayout="column" fxLayoutGap="20px">
                    <div class="scroll-table">
                        <table mat-table [dataSource]="sobremesas" class="mat-elevation-z8">

                            <ng-container matColumnDef="nome">
                                <th mat-header-cell *matHeaderCellDef> Nome </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
                            </ng-container>

                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preço </th>
                                <td mat-cell *matCellDef="let produto"> {{produto.preco}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantidade">
                                <th mat-header-cell *matHeaderCellDef> Qtd. </th>
                                <td mat-cell *matCellDef="let produto">
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <button mat-icon-button>
                                            <mat-icon>remove</mat-icon>
                                        </button>

                                        <h3>
                                            {{produto.quantidade}}
                                        </h3>
                                        <button mat-icon-button color="warn">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between end">
                        <button mat-raised-button matStepperPrevious>
                            Anterior
                        </button>
                        <button mat-raised-button color="warn" (click)="abrirModalFinalizarPedido()">
                            Finalizar pedido
                        </button>
                    </div>
                </div>

            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>